/* src/components/Header/Header.module.css */

.header {
  color: #fff;
  padding: 20px 20px 0px 20px; 
  display: flex;
  position: relative; 
  background-color: transparent; 
}

.header-icon {
    width: 100px;
    height: 80px;
    margin-right: 34px;
}

.header-title {
  letter-spacing: 1px;
  color: rgba(78, 20, 140, 1);
  font-weight: 700;
  margin-top: auto;
}

/* Медиа-запросы для адаптивности Header */
@media (max-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header-icon {
      width: 60px;
      height: 60px;
  }
  .header-title {
    font-size: 1.8em;
  }
}