/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

.main-layout {
  display: flex;
  flex: 1; 
  gap: 20px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  padding: 20px;
}

.sidebar {
  flex: 0 0 250px; 
  padding: 0; 
  border-radius: 8px; /* Сохраняем скругления */
  box-shadow: none; 
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tickets-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; 
  margin-top: 20px;
}

.loading-message,
.error-message,
.no-tickets-message {
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  color: #e0e0e0;
}

.error-message {
  color: #ff6b6b; 
}

.load-more-button {
  display: block;
  width: 100%;
  max-width: 100%; 
  margin: 30px auto 20px auto; 
  padding: 15px 25px;
  background-color: rgba(78, 20, 140, 1); 
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.load-more-button:hover {
  background-color: #7b1fa2;
  transform: translateY(-2px);
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  .main-layout {
    flex-direction: column; 
    margin-top: 15px;
    gap: 15px;
    padding: 15px;
  }

  .sidebar {
    flex: none;
    width: 100%; 
  }

  .tickets-list {
    grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
    gap: 15px;
  }

  .load-more-button {
    max-width: 100%; /* На мобильных кнопка на всю ширину */
    margin-top: 20px;
    padding: 12px 20px;
  }
}

@media (max-width: 480px) {
  .app-container {
    padding: 5px;
  }
  .main-layout {
    padding: 10px;
    gap: 10px;
  }
  .tickets-list {
    gap: 10px;
  }
}